list {
  background-color: transparent;
  border: 1px solid @window_bg_color;
}

list row {
  background-color:transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 12px;
}

list row:selected frame{
  background-color:transparent;
  border: 1px alpha(@accent_color, 0.3) solid;
  transition: border ease-in-out 200ms;
}

list row:selected .markdown-view{
  border: 1px alpha(@accent_color, 0.4) solid;
}

.markdown-view {
  background-color: transparent;
  color: @window_fg_color;
  border: 1px transparent solid;
  border-radius: 12px;
  transition: border ease-in-out 200ms;
}

.output-text-view {
  background-color: transparent;
}

.drag-widget {
  background-color: @window_bg_color;
  border-radius: 15px;
  border: 1px @borders solid;
}
