.output-frame{
  background-color:transparent;
  border: 2px solid alpha(var(--headerbar-shade-color), 0.8);
}

.html-button {
  border-radius: 12px;
  border: 2px solid alpha(var(--headerbar-shade-color), 0.8);
}

.chapter-button {
  background-color: transparent;
}

.chapter-button label{
  font-weight: normal;
}

list.notebook-list {
  background-color: transparent;
}

list.notebook-list > row {
  background-color:transparent;
  transition: background-color ease-in-out 100ms;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 12px;
}

list.notebook-list > row:hover {
  background-color: alpha(var(--window-fg-color), 0.05);
}

list.notebook-list > row:selected frame.cell-frame{
  background-color:transparent;
  border: 2px alpha(var(--accent-color), 0.5) solid;
  transition: border ease-in-out 100ms;
}

list.notebook-list > row frame.cell-frame{
  border-width: 2px;
}

list.notebook-list > row:selected .markdown-view{
  border: 2px alpha(var(--accent-color), 0.4) solid;
}

list.console {
  background-color: transparent;
}

list.console > row {
  background-color:transparent;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 12px;
  border: 1px alpha(transparent, 0.4) solid;
}

.console-cell-sourceview {
  background-color:transparent;
}

.markdown-view {
  background-color: transparent;
  color: var(--window-fg-color);
  border: 2px transparent solid;
  border-radius: 12px;
  transition: border ease-in-out 200ms;
}

.output-text-view {
  background-color: transparent;
}

.drag-widget {
  background-color: var(--window-bg-color);
  border-radius: 15px;
  border: 1px var(--borders) solid;
}

.output markdownview{
  background-color: transparent;
}

.output listview{
  background-color: transparent;
}

.sidebar-color {
  background-color: var(--sidebar-bg-color);
}

listview.sidebar-list {
  background-color:transparent;
  padding: 6px;
}

listview.sidebar-list row{
  padding: 3px;
  border-radius: 9px;
}

flowbox.theme-selector flowboxchild {
  background-color: transparent;
  --accent-color: transparent;
  --accent-bg-color: transparent;
}

.matrixviewer listview > row > cell {
  padding: 2px;
}

.matrixviewer header > button {
  background-color: var(--sidebar-bg-color);
}

.index-cell {
  font-family: monospace;
}

.variables-panel columnview{
  background-color: transparent;
}

.variables-panel columnview cell{
  padding: 3px;
}

.monospace{
  font-family: monospace;
}

.map-pin {
  color: var(--red-4);
}
